
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
  </head>
  <div class="col-md-3 col-sm-2 highlight">
      <div id="myContainer" style=" width: 100%;"></div>
      </div>
    <div class="col-md-6 col-sm-6 highlight">
    <div id="myContainer" style=" width: 100%;">
  
      <h2><b>Search</b></h2>
    <div class="row">
          
      <div class="form-group">
      <label for="name">Search by Skill :</label>
      <input type="text" class="form-control" placeholder="enter search word" >
    </div>
          
  </div>
      <br/>
  </div>
  </div>
  